.p-intro {
    border: 10px solid $brand-orange;
    background-color: $brand-green-dark;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;

    .l-landing {
        display: none;
    }

    .l-detail {
        display: none;
    }

    .l-intro {
        display: block;
        width: 100vh;
        height: 100vh;
    }
}
