.p-landing {
    .l-landing {
        display: block;
        width: 100vh;
        height: 100vh;
    }

    .l-intro {
        display: none;
    }

    .l-detail {
        display: none;
    }

    .banner {
        margin-top: 0;
    }
}

/* stylelint-disable selector-max-id */
#tinicum {
    top: 60%;
    left: 20%;
}

#wissahickon {
    top: 50%;
    left: 35%;
}

#delaware {
    top: 30%;
    left: 80%;
}
/* stylelint-enable selector-max-id */
