$white: #fff;
$gray-50: #fafafa;
$gray-100: #f0f0f0;
$gray-200: #eee;
$gray-300: #e0e0e0;
$gray-400: #bdbdbd;
$gray-500: #9e9e9e;
$gray-600: #757575;
$gray-700: #616161;
$gray-800: #424242;
$gray-900: #212121;
$black: #000;

$brand-blue-light: #76a6ff;
$brand-blue: #2334aa;
$brand-blue-dark: #000046;

$brand-red-light: #ffab90;
$brand-red: #e14a47;
$brand-red-dark: #401110;

$brand-orange-light: #d79051;
$brand-orange: #dd6c26;
$brand-orange-dark: #6d3b0e;

$brand-aqua-light: #ccfef8;
$brand-aqua: #66adbf;
$brand-aqua-dark: #003845;

$brand-yellow-light: #fae9a7;
$brand-yellow: #ddb726;
$brand-yellow-dark: #604d0b;

$brand-green-light: #95f0ce;
$brand-green: #32a68c;
$brand-green-dark: #0d332c;

$font-colors: (
    light: $gray-600,
    normal: $gray-800,
    dark: $black,
);
