/* ------------------------------------*\
        #PADDING
\*------------------------------------ */

$space: 1rem;
$pad-tiny: 2px;
$pad-small: 0.5rem;
$pad-compact: 1rem;
$pad-medium: 1.4rem;
$pad-normal: 2rem; /* 1 */
$pad-comfortable: 3rem;
$pad-spacious: 6rem;
$pad-large: 8rem;
$space-bullet-offset: 1.6rem; /* 2 */

/* ------------------------------------*\
    #BUTTONS
\*------------------------------------ */
$button-background-primary: $brand-orange;
$button-background-secondary: $brand-aqua-light;

/* ------------------------------------*\
    #MARKERS
\*------------------------------------ */
$marker-width: 9rem;

/* ------------------------------------*\
    #MODAL
\*------------------------------------ */
$modal-max-width: 90rem;
