.health {
    &__heading {
        @include text(400);
        text-align: center;
    }

    &__rating-text {
        @include heading(600);
        text-transform: uppercase;
    }

    &__illustration {
        background-size: 100%;
        background-position: center bottom;
        display: block;
        position: relative;
        margin: 1rem 0;
        line-height: 0;

        // Size the illustration container
        &::before {
            content: "";
            padding-bottom: 60%;
            display: block;
        }
    }

    // Styles for the "level" that is based on the data.
    // The illustration is being placed here as well
    // so that we can multiply the color onto the image using
    // background-blend-mode: multiply;
    &__level {
        position: absolute;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        opacity: 0.4;
        background-blend-mode: multiply;
        background-size: 100%;
        background-position: center bottom;
    }

    &__description {
        @include text(300);
    }

    &__button {
        position: absolute;
        top: -2.5rem;
        right: -2rem;
        z-index: 1;
    }

    &--positive {
        .health__rating-text {
            color: $brand-aqua;
        }

        // Place the correct image in.
        .health__illustration,
        .health__level {
            background-image: url('../img/scene_positive.svg');
        }

        // top: [value]; is setting the height of the "level".
        .health__level {
            background-color: $brand-aqua-dark;
            top: 20%;
        }
    }

    &--warning {
        .health__rating-text {
            color: $brand-yellow;
        }

        // Place the correct image in.
        .health__illustration,
        .health__level {
            background-image: url('../img/scene_warning.svg');
        }

        // top: [value]; is setting the height of the "level".
        .health__level {
            background-color: $brand-yellow-dark;
            top: 40%;
        }
    }

    &--negative {
        .health__rating-text {
            color: $brand-red;
        }

        // Place the correct image in.
        .health__illustration,
        .health__level {
            background-image: url('../img/scene_negative.svg');
        }

        // top: [value]; is setting the height of the "level".
        .health__level {
            background-color: $brand-red-dark;
            top: 80%;
        }
    }
}
