.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $brand-green-dark;
}

.p-intro .map {
    z-index: -1;
}

.mapboxgl-ctrl-compass {
  position: absolute;
  border-radius: 20px;
  border: 1px solid #D3ECEE !important;
}

.p-landing {
  .mapboxgl-ctrl-bottom-left {
    bottom: 45px;
  }

  .mapboxgl-ctrl-bottom-right {
    bottom: 45px;
  }

  .mapboxgl-ctrl-compass {
    bottom: 55px;
    right: 50px;
  }
}

.p-detail {
  .mapboxgl-ctrl-bottom-right {
    left: 47%;
    right: inherit;
  }

  .mapboxgl-ctrl-compass {
    bottom: 10px;
    left: 43%;
    right: inherit;
  }
}
