.map {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: $brand-green-dark;
}

.p-intro .map {
    z-index: -1;
}

.mapboxgl-ctrl-compass {
  position: absolute;
}

.mapboxgl-ctrl-icon.mapboxgl-ctrl-compass > .mapboxgl-ctrl-compass-arrow {
  width: 30px!important;
  height: 30px!important;
  background-image: url('../img/compass.svg')!important;
  background-size: 25px;
  background-position: center;
  margin: 0!important;
}

.p-intro {
  .mapboxgl-ctrl-bottom-right {
    display: none;
  }

  .mapboxgl-ctrl-bottom-left {
    bottom: 10px;
    left: 10px;
  }

  .mapboxgl-ctrl-icon.mapboxgl-ctrl-compass {
    display: none;
  }
}

.p-landing {
  .mapboxgl-ctrl-bottom-left {
    bottom: 50px;

    // Our wrapper library doesn't support moving this in in the Mapbox API
    right: 20px;
    left: auto;
  }

  .mapboxgl-ctrl-bottom-right {
    bottom: 45px;
    right: 11rem;
  }

  .mapboxgl-ctrl-compass {
    top: 15px;
    right: 20px;
  }
}

.p-detail {
  .mapboxgl-ctrl-bottom-left {
    bottom: 5px;

    // Our wrapper library doesn't support moving this in in the Mapbox API
    right: inherit;
    left: 40%;
  }

  .mapboxgl-ctrl-bottom-right {
    left: 38%;
    right: inherit;
  }

  .mapboxgl-ctrl-compass {
    top: 10px;
    left: 46%;
  }
}
