.modal-is-open {
    overflow: scroll;

    .main,
    .map {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
    }

    .map {
        left: 0;
    }
}

.modal {
    z-index: 3;
    display: none;

    &.is-open {
        display: block;
    }

    &__overlay {
        position: fixed;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        z-index: 1;
        display: flex;
        justify-content: center;
        align-items: center;
        background: rgba($black, 0.8);
    }

    &__container {
        position: absolute;
        top: 0;
        left: 50%;
        z-index: 99;
        box-sizing: border-box;
        width: 60vw;
        max-width: $modal-max-width;
        margin-top: $pad-spacious;
        margin-bottom: $pad-spacious;
        background-color: $white;
        border-radius: 4px;
        transform: translateX(-50%);
    }

    &__header {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: $pad-spacious $pad-spacious $pad-comfortable;
    }

    &__mini-title {
        @include heading(300);

        letter-spacing: 1px;
        text-transform: uppercase;
    }

    &__title {
        @include heading(600);
    }

    &__intro {
        @include text(300, $color: $gray-500);

        margin-top: $pad-small;
    }

    &__close {
        position: absolute;
        top: -1rem;
        right: -1rem;
        padding: 1.2rem 1.65rem;

        .button__image {
            width: 1.75rem;
        }
    }

    &__footer {
        padding: $pad-comfortable;
        text-align: center;
    }
}
