.sidebar {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: auto;
    width: 50vw;
    max-width: 65rem;
    padding: $pad-spacious;
    overflow-y: scroll;
    background: $white;

    &__mini-title {
        @include heading(300, $color: $brand-blue-dark);

        text-transform: uppercase;
    }

    &__title {
        @include heading(700, $color: $brand-blue-dark);

        margin-bottom: $pad-compact;
        letter-spacing: 0;
        text-transform: none;
    }

    &__intro {
        @include text(400, $color: $gray-600);
    }

    &__header {
        margin-bottom: $pad-normal;
    }
}
